<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="carryMESUserInfoToWORK_RECORD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <carryMESUserInfoToWORK_RECORD.Properties.Settings>
            <setting name="carryMESUserInfoToWORK_RECORD_ETL_Service_ETL_Service" serializeAs="String">
                <value>http://172.21.236.247/SFISWS/SFIS_WS.asmx</value>
            </setting>
        </carryMESUserInfoToWORK_RECORD.Properties.Settings>
    </applicationSettings>
</configuration>
